//Font colors
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-text-blue: #1e90ff;
$color-text-gray: #DCDCDD;
$color-text-inactive: #BFC0C0;
$color-text-red: rgb(216, 29, 29);
$color-text-golden: #fedb41;


//Background colors
$color-back-white: #ffffff;
$color-back-green: #20813b;
$color-back-blue: #1e90ff;
$color-back-dark: #46494C;